@import "tailwind/_base.css";
@import "tailwind/_components.css";
@import "tailwind/_utilities.css";
@import "_checkbox-radio-switch.css";
@import "_progress.css";
@import "_scrollbars.css";
@import "_table.css";

@import './font-gilroy.css';

@layer components {
    .btn {
        @apply p-4 rounded-md bg-slate-600 text-gray-100;
    };

    .icon {
        @apply text-white text-[20px];
    };

    .landingtext {
        @apply text-[#3F3A64];
       
    }

    .green {
     @apply  bg-[#20AD96];
    }

    .blue {
        @apply bg-[#161821];
    }

    .page {
        @apply px-2 sm:px-[4rem] md:px-[100px]
    }

    .boardcard {
        @apply relative overflow-hidden before:content-[''] before:h-[100%]  before:w-1 before:absolute before:left-0 before:top-0 before:bottom-0 py-[26px] px-[30px] flex items-center rounded-md bg-[#111] w-3/12
    }

    .inputstyle {
        @apply py-[10px] px-[20px] bg-[#222] border-[0.5px] border-[#333] rounded-[3px] outline-none placeholder:text-[#696969] text-white
    }

    .large-title {
        @apply text-[28px] md:text-[34px] lg:text-[40px] xl:text-[48px]
    }

    .title-responsive{
        @apply text-[28px] md:text-[34px] lg:text-[40px]
    }


  .title-responsive-h {
          @apply text-[28px] md:text-[34px]
    }

    .subtitle-responsive{
        @apply text-[18px] md:text-[21px] lg:text-[24px]
    }

    .padding-responsive{
        @apply px-5 py-[60px] sm:p-[50px] md:p-[100px]
    }

    .four-grid {
        @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4
    }

    .course-grid-one{
        @apply w-full min-w-[300px] md:max-w-[370px] text-white hover:scale-105 ease-in-out duration-150 hover:drop-shadow-md hover:shadow-gray-900 hover:shadow-lg
    }

    .subscribe{
        @apply relative sm:right-[5px] bg-[#20AD96] hover:bg-[#3F3A64] h-[56px] mt-4 sm:mt-0 text-[14px] font-bold px-[40px] rounded-md sm:rounded-tl-none sm:rounded-bl-none sm:rounded-tr-md sm:rounded-br-md py-[13px] text-[white]
    }

    .trending-blogs {
        @apply w-full rounded-md min-w-[300px] md:max-w-[370px] md:px-4 text-white hover:scale-105 ease-in-out duration-150 hover:drop-shadow-md hover:shadow-gray-900 hover:shadow-lg
    }

    .large-rate {
        @apply text-[48px] lg:text-[64px] text-[#20AD96] font-extrabold
    }

}